.bands-overview-entry {
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: rgba(86,61,124,.15);
    border: 1px solid rgba(86,61,124,.2);
    border-radius: 4px;
}

.bands-overview-entry .bands-logo {
    width: 150px;
    height: 150px;
}

.bands-overview-entry h2 {
    margin-top: 0px;
}

footer{
	background-color:#CCC;
}

.navbar{
	min-height:80px;
	background-color:#FFF;
}

.band_details{
	background-color: rgba(210,99,6,1.00);
    border: 1px solid rgba(86,61,124,.2);
    border-radius: 4px;
	padding:15px;
}

.band_details .infobox{
	background-color: #FFFFFF;
    border: 1px solid rgba(86,61,124,.2);
    border-radius: 4px;
	padding-top:6px;
	padding-bottom:6px;
	height:100%;
	
}

.col_padding{
	padding:0px;
	
}

.padding_right{
	
}

.band_details .row{
	margin:0px;
}

.band_details hr{
	margin-bottom:5px;
	margin-top:5px;
}

.band_details h4{
	font-size:17px;
}

