.bg{
	background-image:url(../img/bg/bg.jpg);
	height:500px;
	margin-top:80px; /*muss immer so hoch sein wie die navbar hoch ist, da diese immer drüber liegt*/
}

.trans{
	
	background-color: rgba(250, 250, 250, 0.8);
    border-radius: 10px;
    margin-top:20px;
	margin-bottom:20px;
	min-height:300px;
	text-align:center;
}

#container_h1{
	font-weight:bold;
	font-size:36px;
}

.logo {
	background-color:red;
}

