/* image styles */
.img{ 
	display: table;
	margin: 0px auto;
	margin-top: 10px;
	margin-bottom: 10px;
	position: relative;
	padding: 0px;
	overflow: hidden  !important;
}

.overlay{
	display: block;
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 100%;
	background: #000;
	opacity: 0;
	-webkit-border-radius: inherit; 
	-moz-border-radius: inherit; 
	-o-border-radius: inherit; 
	border-radius: inherit;	
	border: inherit;
	-webkit-transition: all 190ms ease-in-out;
	-moz-transition: all 190ms ease-in-out;
	-ms-transition: all 190ms ease-in-out;
	-o-transition: all 190ms ease-in-out;
	transition: all 190ms ease-in-out;		
}

.img:hover .overlay, .img.active .overlay{
	opacity: .4;
	-webkit-transition: all 240ms ease-in-out;
	-moz-transition: all 240ms ease-in-out;
	-ms-transition: all 240ms ease-in-out;
	-o-transition: all 240ms ease-in-out;
	transition: all 240ms ease-in-out;				
}	

.img img{
	width: 100%;
	height: auto;
	vertical-align: bottom; 
	-webkit-border-radius:  18px; 
	-moz-border-radius:  18px; 
	-o-border-radius:  18px; 
	border-radius: 18px;
}

.img:hover img{
	opacity: .7;
	-webkit-transition: all 240ms ease-in-out;
	-moz-transition: all 240ms ease-in-out;
	-ms-transition: all 240ms ease-in-out;
	-o-transition: all 240ms ease-in-out;
	transition: all 240ms ease-in-out;		
}

.img .caption.bottom,
.img .caption{
	/*background-color: rgba(0, 0, 0, .5);*/
	color: #fff;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding-top: 10px;
	width: 100%;
	height: auto;
	z-index: 9;
	padding-bottom: 10px;
	-webkit-transition: all 240ms ease-in-out;
	-moz-transition: all 240ms ease-in-out;
	-ms-transition: all 240ms ease-in-out;
	-o-transition: all 240ms ease-in-out;
	transition: all 240ms ease-in-out;	
}

.img .caption.bottom.slideUp,
.img .caption.slideUp{
	opacity: 0;
	bottom: -10%;
}

.img:hover .caption.bottom.slideUp,
.img:hover .caption.slideUp{
	opacity: 1;
	bottom: 0px;
	-webkit-transition: all 240ms ease-in-out;
	-moz-transition: all 240ms ease-in-out;
	-ms-transition: all 240ms ease-in-out;
	-o-transition: all 240ms ease-in-out;
	transition: all 240ms ease-in-out;		
}

/* img caption txt */

.img .caption .heading{
	font-weight: bold;
	font-size: 1.2em;
	text-shadow: 0px 1px 1px #000;
	display: block;
	margin-bottom: 5px;
	margin-left: 10px;
}

.img .caption p{
	margin: 0px;
	margin-bottom: 5px;
	margin-left: 10px;
	padding: 0px 5px;
	font-size: .9em;
}

.img .caption .footer{
	margin-left: 10px;
	margin-right: 10px;
}

.img .caption .footer *{
	margin-left: 5px;
}

.img .caption.left-icon p,
.img .caption.left-icon .footer,
.img .caption.left-icon .heading{
	margin-left: 50px;
}

/* slide up caption */

.img.slideUp{
	display: block;
	width: 250px;
	height: 200px;
	overflow: hidden; 
	background: #4A0406;
	-webkit-border-radius:  18px; 
	-moz-border-radius:  18px; 
	-o-border-radius:  18px; 
	border-radius:  18px;
}

.img.slideUp img{
	width: inherit;
	height: inherit;
	-webkit-transition: all 240ms ease-in-out;
	-moz-transition: all 240ms ease-in-out;
	-ms-transition: all 240ms ease-in-out;
	-o-transition: all 240ms ease-in-out;
	transition: all 240ms ease-in-out;		
}

.img.slideUp .caption,
.img.slideUp .caption.bottom{
	position: relative;
	width: inherit;
	height: 40%;
	display: block;
	padding-bottom: 20px;
}

.img.slideUp:hover img{
	margin-top: -100%;
	position: relative;
	vertical-align: top;
	-webkit-transition: all 240ms ease-in-out;
	-moz-transition: all 240ms ease-in-out;
	-ms-transition: all 240ms ease-in-out;
	-o-transition: all 240ms ease-in-out;
	transition: all 240ms ease-in-out;		
}






