<br/>
					
<!-- Quick Content -->				
<div class="row clearfix">	
	<div class="col-md-9 column">
		<div class="google-maps">
			<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?ie=UTF8&amp;msa=0&amp;msid=203033859353341917485.0004fd89e68959d4431eb&amp;t=m&amp;ll=48.576207,9.97628&amp;spn=0.862157,3.166966&amp;output=embed"></iframe>
		</div>
		
	</div>
	<div class="col-md-3 column">
		<img src="assets/images/Kalender.PNG" />
	</div>
</div>

<br/>

<!-- Additional Content -->
<div>
	<center><h3>Kneipen in deiner N&auml;he</h3></center><br/>
	<div class="row clearfix">
		<div class="col-md-4 column">
			<!-- image slide up 1 -->
			<div class="img slideUp">
				<img src="assets/images/stoevchen.PNG" />
				<div class="caption bottom ">
					<div class="heading">Justice League</div>
					<p>Legendary</p>
					<div class="footer">
						<span class="glyphicon glyphicon-play-circle"></span> Some song
						<a href="#" class="btn btn-primary pull-right">Profil</a>
						<a href="#" class="btn pull-right">Facebook-Seite</a>
					</div>		
				</div>
			</div>
		</div>
		<div class="col-md-4 column">
			<!-- image slide up 2 -->
			<div class="img slideUp">
				<img src="http://www.diezwiebel.net/ball.jpg" />
				<div class="caption bottom">
					<div class="heading">Tomato Band</div>
					<p>
						<span class="glyphicon glyphicon-play-circle"></span> Tomato Ketchup Song<br/>
						<span class="glyphicon glyphicon-play-circle"></span> Tomato Ketchup Song 2
					</p>	
				</div>
			</div>
		</div>
		<div class="col-md-4 column">
			<!-- image slide up 3 -->

			<div class="img slideUp">
				<img src="http://die-stadtmitte.de/images/sm_logo.jpg" />
				
				<div class="caption bottom ">
					<div class="heading">Deadmau5</div>
					<p>Epic music!</p>
					<div class="footer">
						<span class="glyphicon glyphicon-play-circle"></span> Deadmaus music
					</div>		
				</div>
			</div>	
		</div>
	</div>
	<div class="row clearfix">
		<div class="col-md-4 column">
			<!-- image slide up 4 -->
			<div class="img slideUp">
				<img src="http://www.sean-o-caseys.de/images/soc_logo_new.jpg" />
				<div class="caption bottom ">
					<div class="heading">Justice League</div>
					<p>Legendary</p>
					<div class="footer">
						<span class="glyphicon glyphicon-play-circle"></span> Some song
						<a href="#" class="btn btn-primary pull-right">Profil</a>
						<a href="#" class="btn pull-right">Facebook-Seite</a>
					</div>		
				</div>
			</div>
		</div>
		<div class="col-md-4 column">
			<!-- image slide up 5 -->
			<div class="img slideUp">
				<img src="assets/images/Cantina.PNG" />
				<div class="caption bottom">
					<div class="heading">Tomato Band</div>
					<p>
						<span class="glyphicon glyphicon-play-circle"></span> Tomato Ketchup Song<br/>
						<span class="glyphicon glyphicon-play-circle"></span> Tomato Ketchup Song 2
					</p>	
				</div>
			</div>
		</div>
		<div class="col-md-4 column">
			<!-- image slide up 6 -->

			<div class="img slideUp">
				<img src="assets/images/OhneGleichen.PNG" />
				
				<div class="caption bottom ">
					<div class="heading">Deadmau5</div>
					<p>Epic music!</p>
					<div class="footer">
						<span class="glyphicon glyphicon-play-circle"></span> Deadmaus music
					</div>		
				</div>
			</div>	
		</div>
	</div>
</div>