{% extends "base.html.twig" %}

{% block title %}Band Dashboard{% endblock %}

{% block head %}
{{ parent() }}

<link rel="stylesheet" type="text/css" media="all" href="css/dashboard/main.css" />
<link rel="stylesheet" type="text/css" media="all" href="css/dashboard/slideup.css" />

<!-- SLIDEUP FIX FOR IE -->		
<!--[if IE]>
<script>
	$(document).ready(function(){
		$('.img.slideUp').hover(function(){
			$(this).find('img:first').animate({marginTop: '-100%'}, 150);	
		}, function(){
			$(this).find('img:first').animate({marginTop: '0'}, 150);
		});
	});
</script>
<![endif]-->	

{% endblock %}

{% block content %}


<div class="container">
	<!-- Notification Bar (fill out your profile) -->
	<!--<div class="alert alert-warning alert-dismissable">
		 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<h4>
			Profil
		</h4> <strong>Hinweis!</strong> Bitte füllen Sie ihr Profil vollständig aus.
	</div>-->
	
	<!-- div-content-table -->
	<div class="row clearfix">
		<div class="col-md-12 column">
		
			<!-- Navigation -->
			<div class="tabbable" id="tabs-589272">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#panel-main" data-toggle="tab">Übersicht</a>
					</li>
					<li class="dropdown">
						
					  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
						Tour <span class="caret"></span>
					  </a>
					  <ul class="dropdown-menu">
						<li><a href="#">Neu</a></li>
						<li><a href="#">Anzeigen</a></li>
						<li><a href="#">Bewerbungsrunde</a></li>
						<li class="divider"></li>
						<li><a href="#">Archiv</a></li>
					  </ul>				  
					</li>
					<li>
						<a href="#panel-xyz" data-toggle="tab"><span class="badge pull-right">Neu!</span>Statistiken</a>
					</li>
					<li>
						<a href="#panel-xyz" data-toggle="tab"><span class="badge pull-right">2</span>Nachrichten</a>
					</li>
					<li>
						<a href="#panel-xyz" data-toggle="tab"><span class="badge pull-right">12</span>Bewerbungen</a>
					</li>
					<li>
						<a href="#panel-xyz" data-toggle="tab">Profil</a>
					</li>
					<li>
						<a href="#panel-xyz" data-toggle="tab">Einstellungen</a>
					</li>
				    <div class="pull-right">
						<form class="navbar-form" role="search">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
								<div class="input-group-btn">
									<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
								</div>
							</div>
						</form>
				    </div>
				</ul>
				
				<!-- Content -->
				<div class="tab-content">
					<div class="tab-pane active" id="mainContent">
					</div>
					<div class="tab-pane" id="eventsContent">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<br/>

<script>
    $(function(){
      $("#mainContent").load("dashboard/main_band.html"); 
	  //$("#eventsContent").load("events.html"); 
    });
</script> 

{% endblock %}
