
<div class="bands-overview-entry">
    <h2>{{ name }}</h2>
    <div class="row">
        <div class="col-sm-4">
            <img class="img-responsive" src="{{ logo_src }}">
        </div>
        <div class="col-sm-8">
            <p>{{ description | truncate(100, true, ' ...') }}</p>
        </div>
    </div>
</div>
