{% extends "base.html.twig" %}

{% block title %}Bands{% endblock %}
{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&appId=887462024613660&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<br />
<div class="container">
    
    
	<div class="band_details">
    	<h1>Break Even Utd.
        </h1>
        <br />
        <div class="row">
            <div class="col-sm-7 col_padding">
            	<div class="row">
                    <div style="padding-left:0px" class="col-xs-3">
                        <img class="img-responsive" src="img/bands/logo_small/breakeven_logo32.png">
                    </div>
                  <div class="col-xs-9 infobox">
                        Name: Break Even Utd.<br />
                        Ort: Offenburg<br />
                        Genre: 	Power Pop / Hard Rock<br />
                        B&uuml;hnenerfahrung: seit 1999<br />
                        Buchbare Formationen:<br />
                  </div>
               </div>
               <br /> 
               <div class="row">
               		<div class="col-xs-12 infobox">
                    	<div class="lead">Aktionsgebiet der Band</div>
                        <div id="map">
                             <img class="img-responsive" src="img/karte_1170.jpg"> 
                        </div>
                    </div>
               </div>
               <br />
               <div class="row">
               		<div class="col-xs-12 infobox">
                    	<div class="lead">Galerie</div>
                        	<div class="row">
                                <div class="col-xs-6">
                                    <img class="img-responsive" src="img/bands/breakeven/1272457_217433888416862_666011968_o.jpg">
                                </div>
                                <div class="col-xs-6">
                                    <img class="img-responsive" src="img/bands/breakeven/1401595_233326550160929_1869494127_o.jpg">
                                </div>
                            </div>    
                            <br />
                            <div class="row">
                                <div class="col-xs-6">
                                    <img class="img-responsive" src="img/bands/breakeven/1412400_233326683494249_271915865_o.jpg">
                                </div>
                                <div class="col-xs-6">
                                    <img class="img-responsive" src="img/bands/breakeven/1463696_233326706827580_1927537162_n.jpg">
                                </div>
                            </div>
                    		<br />
                    </div>
               </div>    
            </div>
            <div style="margin-left:60px;" class="col-sm-4 col_padding">
            	<div class="row">
                	<div class="col-xs-12 infobox">
                        <h4>Nächste Termine:</h4>
                        <hr />
                        <b>28.07.2014</b> 	Ottenheim Festplatz Musikfest<br />
						<b>02.08.2014</b>	Schmieheim Weingut Schwörer Hoffest<br />
						<b>12.08.2014</b> 	Bad Peterstal-Griesbach Küchenparty 
                    </div>
                </div>
              	<br />
                <div class="row">
                	<div class="col-xs-12 infobox">
                        <h4>Hörproben:</h4>
                        <hr />
                        Murphy´s Law
                    	<img class="img-responsive" src="img/player/player.jpg"> 
                    </div>
                </div>
                <br />
                <div class="row">
                	<div class="col-xs-12 infobox">
                        <h4>Videos:</h4>
                        <hr />
                        <iframe width="100%" height="200px" src="//www.youtube.com/embed/6s5ZPH0idko" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <br />
                <div class="row">
                	<div class="col-xs-12 infobox">
                        <h4>Facebook Profil:</h4>
                        <hr />
                        <div class="fb-follow" data-href="https://www.facebook.com/BreakEvenUtd" data-colorscheme="light" data-layout="standard" data-show-faces="true"></div>
                    </div>
                </div>
                <br />
                <div class="row">
                	<div class="col-xs-12 infobox">
                        <h4>Kontakt:</h4>
                        <hr />
                        Armin Heuberger | Gaby Heuberger <br />
            unikat | Klavier &amp; Stimme<br />
            Posener Weg 11 | 77656 Offenburg<br />
            Telefon +49 (0)781 66857<br />
            Mobil +49 (0)160 4297850 <br />
            <a href="mailto:info@heuberger-musik.de">info@heuberger-musik.de </a><br /> 
                    </div>
                </div>
            </div>
      
        </div>
        <div class="row">
        	<div class="col-xs-9 col_padding">
            	
            </div>
        	
        </div>
    </div>   


</div>

{% endblock %}
