{% extends "base.html.twig" %}

{% block title %}Bands{% endblock %}
{% block content %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/de_DE/sdk.js#xfbml=1&appId=887462024613660&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<br />
<div class="container">
    
    
	<div class="band_details">
    	<h1>{{ band_data.name | e}}</h1>
        <br />
        <div class="row">
            <div class="col-sm-7 col_padding">
            	<div class="row">
                    <div style="padding-left:0px" class="col-xs-3">
                        <img class="img-responsive" src="img/fb_data/{{ band_data.facebook_page_id | e }}/profile.jpg">
                    </div>
                  <div class="col-xs-9 infobox">
                      Name: {{ band_data.name | e }} <br />
                      Ort: {{ band_data.hometown | e }}<br />
                      Genre: 	{{ band_data.genre | e}}<br />
                  </div>
               </div>
               <br /> 
               <div class="row">
               		<div class="col-xs-12 infobox">
                        <div class="lead">Aktionsgebiet der Band</div>

                        <div id="map">
                             <div class="google-maps">
                                 <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?ie=UTF8&amp;msa=0&amp;msid=203033859353341917485.0004fd89e68959d4431eb&amp;t=m&amp;ll=48.576207,9.97628&amp;spn=0.862157,3.166966&amp;output=embed"></iframe>
                             </div>
                        </div>
                    </div>
               </div>
               <br />
               <div class="row">
               		<div class="col-xs-12 infobox">
                    	<div class="lead">Galerie</div>
                        	<div class="row">
                                <div class="col-xs-6">
                                    <img class="img-responsive" src="img/fb_data/{{ band_data.facebook_page_id }}/gallery_0.jpg">
                                </div>
                                <div class="col-xs-6">
                                    <img class="img-responsive" src="img/fb_data/{{ band_data.facebook_page_id }}/gallery_1.jpg">
                                </div>
                            </div>    
                            <br />
                            <div class="row">
                                <div class="col-xs-6">
                                    <img class="img-responsive" src="img/fb_data/{{ band_data.facebook_page_id }}/gallery_2.jpg">
                                </div>
                                <div class="col-xs-6">
                                    <img class="img-responsive" src="img/fb_data/{{ band_data.facebook_page_id }}/gallery_3.jpg">
                                </div>
                            </div>
                    		<br />
                    </div>
               </div>    
            </div>
            <div style="margin-left:60px;" class="col-sm-4 col_padding">
            	<div class="row">
                	<div class="col-xs-12 infobox">
                        <h4>Nächste Termine:</h4>
                        <hr />
                    </div>
                </div>
              	<br />
                <div class="row">
                	<div class="col-xs-12 infobox">
                        <h4>Hörproben:</h4>
                        <hr />
                    </div>
                </div>
                <br />
                <div class="row">
                	<div class="col-xs-12 infobox">
                        <h4>Videos:</h4>
                        <hr />
                    </div>
                </div>
                <br />
                <div class="row">
                	<div class="col-xs-12 infobox">
                        <h4>Facebook Profil:</h4>
                        <hr />
                        <div class="fb-follow" data-href="{{ band_data.fb_link }}" data-colorscheme="light" data-layout="standard" data-width="200" data-show-faces="true"></div>
                    </div>
                </div>
                <br />
                <div class="row">
                	<div class="col-xs-12 infobox">
                        <h4>Kontakt:</h4>
                        <hr />

                        {{ band_data.general_manager | e }} <br />
                        {{ band_data.addr_street | e }}<br />
                        {{ band_data.addr_zip | e }} {{ band_data.addr_city | e }}<br />

                    </div>
                </div>
            </div>
      
        </div>
        <div class="row">
        	<div class="col-xs-9 col_padding">
            	
            </div>
        	
        </div>
    </div>   


</div>

{% endblock %}
