{% extends "base.html.twig" %}

{% block title %}Bands{% endblock %}
{% block content %}

<div class="container">
    <h1>Bands</h1>
    <div class="lead">Bands in deiner Nähe</div>

    <div class="row">
        <div class="col-xs-4">
            {% include 'bands_overview_entry.html.twig' with {'name': 'Colorados', 'logo_src': 'img/bands/logo_small/tanzband_colorados.jpg', 'description': 'Die COLORADOS bieten ihnen jahrelange Erfahrung im Musik- und Veranstaltungsbereich. In der heutigen Professionalität der Auftritte spiegelt sich unsere jahrzehntelange Bühnenpräsenz.'}  %}
        </div>
        <div class="col-xs-4">
            {% include 'bands_overview_entry.html.twig' with {'name': 'Breakeven', 'logo_src': 'img/bands/logo_small/breakeven_logo32.png', 'description': '"Knallbunter Popkosmos, der in allen Farben schillert" - MaMo / "Sängerin Saskia ist umwerfend" - Home Of Rock / "Runter von der Bühne, Junge" - Unbekannt'}  %}
        </div>
        <div class="col-xs-4">
            {% include 'bands_overview_entry.html.twig' with {'name': 'Unikat', 'logo_src': 'img/bands/logo_small/heuberger_musik.jpg', 'description': 'Klanggenuss mit Klavier & Stimme. Ein Geheimtipp aus der Musikszene  Ortenau- „unikat“ Gaby und Armin Heuberger sind schon lange ein Paar, die eine große Gemeinsamkeit pflegen, die Liebe zur Jazzmusik.'}  %}
        </div>
    </div>


    <div class="row">
        <div class="col-xs-4">
            {% include 'bands_overview_entry.html.twig' with {'name': 'Adrimusica', 'logo_src': 'img/bands/logo_small/adrimusica.JPG', 'description': 'Adriano & Co. steht für Vitalität, Professionalität und Kreativität pur.'}  %}
        </div>
    </div>


</div>

{% endblock %}
