{% extends "base.html.twig" %}

{% block title %}Bar Dashboard{% endblock %}

{% block head %}
{{ parent() }}

<link rel="stylesheet" type="text/css" media="all" href="css/dashboard/main.css" />
<link rel="stylesheet" type="text/css" media="all" href="css/dashboard/slideup.css" />

<!-- SLIDEUP FIX FOR IE -->		
<!--[if IE]>
<script>
	$(document).ready(function(){
		$('.img.slideUp').hover(function(){
			$(this).find('img:first').animate({marginTop: '-100%'}, 150);	
		}, function(){
			$(this).find('img:first').animate({marginTop: '0'}, 150);
		});
	});
</script>
<![endif]-->	

{% endblock %}

{% block content %}
<div class="container">
	<!-- Notification Bar (fill out your profile) -->
	<div class="alert alert-warning alert-dismissable">
		 <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
		<h4>
			Profil
		</h4> <strong>Hinweis!</strong> Bitte füllen Sie ihr Profil vollständig aus. <!--<a href="#" class="alert-link">alert link</a>-->
	</div>
	
	<!-- div-content-table -->
	<div class="row clearfix">
		<div class="col-md-12 column">
		
			<!-- Navigation -->
			<div class="tabbable" id="tabs-589272">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#panel-main" data-toggle="tab">Übersicht</a>
					</li>
					<li class="dropdown">
						
					  <a class="dropdown-toggle" data-toggle="dropdown" href="#">
						Events <span class="caret"></span>
					  </a>
					  <ul class="dropdown-menu">
						<li><a href="#">Neu</a></li>
						<li><a href="#">Anzeigen</a></li>
						<li><a href="#">Bewerbungsrunde</a></li>
						<li class="divider"></li>
						<li><a href="#">Archiv</a></li>
					  </ul>
				
					</li>
					<li>
						<a href="#panel-xyz" data-toggle="tab"><span class="badge pull-right">Neu!</span>Statistiken</a>
					</li>
					<li>
						<a href="#panel-xyz" data-toggle="tab"><span class="badge pull-right">2</span>Nachrichten</a>
					</li>
					<li>
						<a href="#panel-xyz" data-toggle="tab"><span class="badge pull-right">12</span>Bewerbungen</a>
					</li>
					<li>
						<a href="#panel-xyz" data-toggle="tab">Profil</a>
					</li>
					<li>
						<a href="#panel-xyz" data-toggle="tab">Einstellungen</a>
					</li>
					<div class="pull-right">
						<form class="navbar-form" role="search">
							<div class="input-group">
								<input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
								<div class="input-group-btn">
									<button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
								</div>
							</div>
						</form>
					</div>
				</ul>
				
				<!-- Content -->
				<div class="tab-content">
                    <div class="tab-pane active" id="mainContent">
                        <br/>

                        <!-- Quick Content -->				
                        <div class="row clearfix">	
                            <div class="col-md-9 column">
                                <img alt="140x140" src="img/dashboard/circles.PNG" />		
                            </div>
                            <div class="col-md-3 column">
                                <img src="img/dashboard/Kalender.PNG" />
                            </div>
                        </div>

                        <br/>


                        <div class="well">
                            <!-- Main-Content à la search, calendar -->
                            <div class="row clearfix">
                                <p>Willkommen zur&uuml;ck zu Barbands!</P>
                                <p>Wir haben wieder aufregende Bands in Ihrer N&auml;he gefunden, welche Ihnen gefallen k&ouml;nnten.</p>
                                <br/>
                                <p>Sie haben zudem einige neue Nachrichten und Bewerbungen erhalten.</p>
                            </div>
                        </div>

                        <br/>

                        <!-- Additional Content -->
                        <div>
                            <center><h3>Bands in deiner N&auml;he</h3></center><br/>
                            <div class="row clearfix">
                                <div class="col-md-4 column">
                                    <!-- image slide up 1 -->
                                    <div class="img slideUp">
                                        <img src="img/dashboard/justiceleague.png" />
                                        <div class="caption bottom ">
                                            <div class="heading">Justice League</div>
                                            <p>Legendary</p>
                                            <div class="footer">
                                                <span class="glyphicon glyphicon-play-circle"></span> Some song
                                                <a href="#" class="btn btn-primary pull-right">Profil</a>
                                                <a href="#" class="btn pull-right">Facebook-Seite</a>
                                            </div>		
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 column">
                                    <!-- image slide up 2 -->
                                    <div class="img slideUp">
                                        <img src="img/bands/logo_small/breakeven_logo32.png" />
                                        <div class="caption bottom">
                                            <div class="heading">Break Even</div>
                                            <p> Legendary </p>

                                            <div class="footer">
                                                <span class="glyphicon glyphicon-play-circle"></span> Murphys Law
                                                <a href="band_details.php" class="btn btn-primary pull-right">Profil</a>
                                            </div>		


                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 column">
                                    <!-- image slide up 3 -->

                                    <div class="img slideUp">
                                        <img src="img/dashboard/deadmau5.jpg" />

                                        <div class="caption bottom ">
                                            <div class="heading">Deadmau5</div>
                                            <p>Epic music!</p>
                                            <div class="footer">
                                                <span class="glyphicon glyphicon-play-circle"></span> Deadmaus music
                                            </div>		
                                        </div>
                                    </div>	
                                </div>
                            </div>
                            <div class="row clearfix">
                                <div class="col-md-4 column">
                                    <!-- image slide up 4 -->
                                    <div class="img slideUp">
                                        <img src="http://www.clipartbest.com/cliparts/bcy/MEX/bcyMEXERi.png" />
                                        <div class="caption bottom ">
                                            <div class="heading">Justice League</div>
                                            <p>Legendary</p>
                                            <div class="footer">
                                                <span class="glyphicon glyphicon-play-circle"></span> Some song
                                                <a href="#" class="btn btn-primary pull-right">Profil</a>
                                                <a href="#" class="btn pull-right">Facebook-Seite</a>
                                            </div>		
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 column">
                                    <!-- image slide up 5 -->
                                    <div class="img slideUp">
                                        <img src="http://www.clipartbest.com/cliparts/RcA/yoa/RcAyoaMRi.jpeg" />
                                        <div class="caption bottom">
                                            <div class="heading">Tomato Band</div>
                                            <p>
                                            <span class="glyphicon glyphicon-play-circle"></span> Tomato Ketchup Song<br/>
                                            <span class="glyphicon glyphicon-play-circle"></span> Tomato Ketchup Song 2
                                            </p>	
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 column">
                                    <!-- image slide up 6 -->
                                    {% if band_data.name %}

                                    <div class="img slideUp">
                                        <img src="img/fb_data/{{ band_data.facebook_page_id }}/profile.jpg" />

                                        <div class="caption bottom ">
                                            <div class="heading">{{ band_data.name }}</div>
                                            <p>{{ band_data.description }}</p>
                                            <div class="footer">
                                                <a href="band_details.php?source=fb" class="btn btn-primary pull-right">Profil</a>
                                            </div>		
                                        </div>
                                    </div>	
                                    
                                    {% endif %}
                                </div>
                            </div>
                        </div>
					</div>
					<div class="tab-pane" id="eventsContent">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<br/>

{% endblock %}
