{% extends "base.html.twig" %}

{% block title %}Barbands{% endblock %}

{% block head %}
{{ parent() }}
<link href="css/canvas.css" rel="stylesheet">

{% endblock %}

{% block content %}

<script>
    $(document).ready(function() {
        $(".btn-facebook").click(function() {
            parent.window.location = $(this).attr('data-loginlink');
        });
    });
</script>


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron bg">
      <div class="container trans">
        <h1 id="container_h1">Herzlich Willkommen        </h1>
        <p>Finden Sie für Ihre Kneipe die passende Band oder überzeugen Sie Barbesitzer von Ihrem Können. Mit nur wenigen Klicks sind Sie dabei!</p>
        <p>&nbsp; </p>
        <p>
        <button data-loginlink="{{ login_band_link }}" class="btn btn-lg btn-facebook"><i class="fa fa-facebook"></i> | Login als Band</button>
        <button data-loginlink="{{ login_bar_link }}" class="btn btn-lg btn-facebook"><i class="fa fa-facebook"></i> | Login als Kneipe</button></p>
        <p>&nbsp;</p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Kostenlos Nutzbar</h2>
          <p>Das Finden von Bars bzw. das Finden von Bands, sowie die automatische Erstellung von Veranstaltungen ist für Sie komplett kostenlos.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Service</h2>
          <p>Bei Fragen steht Ihnen unser kompetentes Team mit Rat und Tat zur Verfügung.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Lorem ipsum</h2>
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
	  <p>&nbsp;</p>
      <p>&nbsp;</p>
      
      <div id="map">
   	  	<img class="img-responsive" src="img/karte_1170.jpg"> 
      </div>

      
    </div> <!-- /container -->
{% endblock %}

