{% extends "base.html.twig" %}

{% block title %}Fehler{% endblock %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <h1 class="bg-danger">{{ error_heading }}</h1>
        {% if error_desc %}
        <p>{{ error_desc }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}

